<!DOCTYPE HTML>
<html ng-app="app">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>MongoDB/Node/AngularJS</title>
	
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<style>
	html {
		overflow-y: scroll;
	}
	
	body {
		padding-top: 50px;
	}
	
	#todo-list {
		margin-bottom: 30px;
	}
	</style>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
	<script src="/scripts/main.js"></script>
</head>
<body ng-controller="mainController">
	<div class="container">
		<div class="jumbotron text-center">
			<h1>
				Quotes from MongoDB <span class="label label-info">{{ quotes.length }}</span>
			</h1>
		</div>

		<div id="quote-list" class="row">
			<div class="col-sm-4 col-sm-offset-4">

				<div class="checkbox" ng-repeat="quote in quotes">
					<label> 
						<input type="checkbox" ng-click="deleteTodo(todo._id)"> 
						{{ quote.name }}: {{ quote.quote }}
					</label>
				</div>

			</div>
		</div>

		<div id="todo-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
					<div class="form-group">
						<input type="text" 
								class="form-control input-lg text-center"
								placeholder="Who said?"
								ng-model="formData.name">
						<input type="text" 
								class="form-control input-lg text-center"
								placeholder="Said what?"
								ng-model="formData.quote">
					</div>

					<button type="submit" 
							class="btn btn-primary btn-lg"
							ng-click="createQuote()">Add</button>
				</form>
			</div>
		</div>

	</div>

</body>
</html>